* {
	box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: #fafafa;
    font-family: Roboto;
}
.centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-e-conteudo {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.conteudo-da-pagina {
    width: 935px;
    margin-top: 88px;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid blue;
}
.invisivel {
    width: 300px;
    height: 450px;
    border: 0px solid red;
}
.feed {
    width: 614px;
    margin-top: 24px;
}
.post {
    width: 614px;
    border: 1px solid #dbdbdb;
    background-color: #FFFFFF;
    margin-bottom: 60px;
}
.post-head {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.post-poster {
    width: 160px;
    justify-content: space-between;
}
.post-head img {
    height: 32px;
    width: 32px;
    border-radius: 32px;
}
.post-img img{
    width: 100%;
}
.post-icon {
    width: 16px;
    height: 16px;
}
.post-bottom {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.post-bottom-layer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px ;
    padding-right: 17px ;
}
.post-bottom-layer2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 17px ;
    padding-right: 17px ;
}
.post-bottom-layer2 img {
    margin-right: 8px;
}
.post-bottom-img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


